@charset "utf-8";

/* reset */
*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-font-smoothig: antialised;
} /* 전체 초기화 */
html, body{
	height: 100%;
	-ms-overflow-style: none; /* ms 스크롤 없애기 */
}
iframe, video, img, fieldset, input{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}
a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	font-size: inherit;
	border: none;
	background: none;
} /* 하이퍼링크 초기화 */
table{
	padding: 0;
	border-spacing: 0;
	border: 0;
	border-collapse: collapse;
} /* 표 공통 */
th, td{padding: 0; margin: 0;} /* 표 제목, 내용 공통 */
ul, li{list-style: none;}
input{outline : none; border : none;}

/* 스크롤 css */
::-webkit-scrollbar{width: 0px;}
