body{
	font-family:'Nunito',sans-serif;
}

.main-content{
	width:100%;
	height:100vh;
	overflow:auto;

}
h2{
	font-size:30px;
}
h3{
	font-size:45px;
	font-weight: 700;
}
/*scroll content bg*/

section{
	background: white;
	padding:6rem 0 6rem;
}

section:nth-of-type(even){
	background: #2174ce;
	color:white;
}